@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 2rem;
}

.logo {
    display: block;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 0 1.4rem;
}

ul li a {
    text-decoration: none;
    color: #4b5a6f;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding-bottom: 10px;
}

ul li a,
ul li a:after {
    transition: all 0.5s;
}

ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #1252ae;
    height: 1px;
}

ul li a:hover::after {
    width: 100%;
}

.auth {
    display: flex;
    gap: 2rem;
}

.auth .signin>a,
.signup>a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 20px;
}

.auth .signin>a {
    color: #4b5a6f;
}

.auth .signup>a,
.signin>a:hover {
    color: #1252ae;
    border-radius: 4px;
    background: rgba(18, 82, 174, 0.15);
    box-shadow: 0px 2px 3px 0px rgba(18, 82, 174, 0.4);
}

.auth .signup>a:hover,
.signin>a:hover {
    font-weight: 500;
    transition: 0.3s ease-out;
}

.navToggle,
.navClose {
    color: #1252ae;
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.navClose {
    display: none;
}


/* Responsive Navbar */

@media (max-width: 992px) {
    .nav-links,
    .auth {
        display: none;
    }
    .navToggle {
        display: block;
    }
    header {
        justify-content: space-between;
    }
}


/* hero section  */

.hero {
    background: linear-gradient( 90deg, rgba(18, 82, 174, 0.2) 0%, rgba(18, 82, 174, 0) 100%), url('/images//hero-bg-img.png');
    background-position: center;
    background-size: cover;
    height: 718px;
    position: relative;
    padding: 6rem 4rem;
}

.hero .hero-content {
    width: 50%;
}

.hero-heading {
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5rem 1.4rem;
    margin: 2rem 0;
    width: 184px;
}

.hero-heading>span {
    color: #0b1e3b;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.hero-text {
    display: block;
    margin: 2rem auto;
}

.hero-text .text1 {
    color: #2a323c;
    text-shadow: 2px 3px 4px 0px rgba(10, 25, 48, 0.28);
    font-size: 66px;
    font-weight: 700;
    line-height: 80px;
}

.hero-text .text2 {
    color: #1252ae;
    text-shadow: 2px 3px 4px 0px rgba(10, 25, 48, 0.28);
    font-size: 66px;
    font-weight: 700;
    line-height: 80px;
}

.hero-content .hero-sub {
    width: 400px;
    color: #2a323c;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 4rem;
}

.Btn {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
}

.Btn .btn1,
.btn2,
.btn3 {
    border: none;
    outline: none;
    border-radius: 4px 4px 0px 0px;
    align-items: center;
    padding: 10px 20px;
}

.Btn a {
    text-decoration: none;
}

.Btn .btn1 {
    background-color: #1252ae;
}

.Btn .btn1 a {
    color: #fff;
}

.Btn .btn2,
.btn3 {
    background-color: #fff;
}

.Btn .btn2 a,
.btn3 a {
    color: #1252ae;
}