@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 2rem;
}

.logo {
    display: block;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 0 1.4rem;
}

ul li a {
    text-decoration: none;
    color: #4b5a6f;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding-bottom: 10px;
}

ul li a,
ul li a:after {
    transition: all 0.5s;
}

ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #1252ae;
    height: 1px;
}

ul li a:hover::after {
    width: 100%;
}

.auth {
    display: flex;
    gap: 2rem;
}

.auth .signin>a,
.signup>a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 20px;
}

.auth .signin>a {
    color: #4b5a6f;
}

.auth .signup>a,
.signin>a:hover {
    color: #1252ae;
    border-radius: 4px;
    background: rgba(18, 82, 174, 0.15);
    box-shadow: 0px 2px 3px 0px rgba(18, 82, 174, 0.4);
}

.auth .signup>a:hover,
.signin>a:hover {
    font-weight: 500;
    transition: 0.3s ease-out;
}

.navToggle,
.navClose {
    color: #1252ae;
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.navClose {
    display: none;
}


/* Responsive Navbar */

@media (max-width: 992px) {
    .nav-links,
    .auth {
        display: none;
    }
    .navToggle {
        display: block;
    }
    header {
        justify-content: space-between;
    }
}


/* hero section  */

.hero {
    background: linear-gradient( 90deg, rgba(18, 82, 174, 0.2) 0%, rgba(18, 82, 174, 0) 100%), url('/images//hero-bg-img.png');
    background-position: center;
    background-size: cover;
    height: 718px;
    position: relative;
    padding: 6rem 4rem;
    margin: 0 8rem;
    border-radius: 10px;
}

.hero .hero-content {
    width: 50%;
}

.hero-heading {
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5rem 1.4rem;
    margin: 2rem 0;
    width: 184px;
}

.hero-heading>span {
    color: #0b1e3b;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.hero-text {
    display: block;
    margin: 2rem auto;
}

.hero-text .text1 {
    color: #2a323c;
    text-shadow: 2px 3px 4px 0px rgba(10, 25, 48, 0.28);
    font-size: 66px;
    font-weight: 700;
    line-height: 80px;
}

.hero-text .text2 {
    color: #1252ae;
    text-shadow: 2px 3px 4px 0px rgba(10, 25, 48, 0.28);
    font-size: 66px;
    font-weight: 700;
    line-height: 80px;
}

.hero-content .hero-sub {
    width: 400px;
    color: #2a323c;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 4rem;
}

.Btn {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0 0 2rem;
}

.Btn .btn1,
.btn2,
.btn3 {
    border: none;
    outline: none;
    border-radius: 4px 4px 0px 0px;
    align-items: center;
    padding: 10px 20px;
}

.Btn a {
    text-decoration: none;
}

.Btn .btn1 {
    background-color: #1252ae;
}

.Btn .btn1 a {
    color: #fff;
}

.Btn .btn2,
.btn3 {
    background-color: #fff;
}

.Btn .btn2 a,
.btn3 a {
    color: #1252ae;
}

.Btn .btn2:hover,
.btn3:hover {
    background-color: #1252ae;
    transition: all 0.2s;
}

.Btn .btn2:hover a,
.btn3:hover a {
    color: #fff;
}

.searchDiv {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 675px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.searchDiv .search-cont {
    display: flex;
    gap: 10px;
    width: 160px;
    border-radius: 4px;
    background: #fff;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
}

.searchDiv .search-cont .cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.search-cont img {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.searchDiv .search-cont p {
    color: #7a818c;
    font-size: 14px;
    font-weight: 400;
}

.searchDiv .search {
    display: flex;
    align-items: center;
    width: 112px;
    border-radius: 4px;
    background: #1252ae;
    box-shadow: 0px 3px 3px 0px rgba(9, 23, 44, 0.25);
    padding: 15px 20px;
    cursor: pointer;
    gap: 10px;
    transition: 0.5s ease-in-out;
}

.searchDiv .search a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.searchDiv .search img {
    width: 14px;
    height: 14px;
}

.searchDiv .search a:hover {
    font-weight: 500;
}


/* property section */

.property_types {
    margin: 4rem 8rem;
}

.heading {
    display: block;
}

.heading .heading-text {
    display: flex;
}

.heading .heading-text h1 {
    display: flex;
    text-align: start;
    padding-bottom: 1rem;
    font-size: 36px;
    font-weight: 700;
}

.heading .heading-text h1:first-child {
    color: #1252ae;
}

.heading .heading-text h1:last-child {
    color: #2a323c;
    padding-left: 10px;
}

.broken-underline {
    display: flex;
    width: 280px;
    gap: 20px;
}

.broken-underline span:first-child {
    width: 55%;
    border-bottom: 2px solid #2a323c;
}

.broken-underline span:nth-child(2) {
    width: 20%;
    border-bottom: 2px solid rgba(18, 82, 174, 0.5);
}

.broken-underline span:last-child {
    width: 10%;
    border-bottom: 2px solid rgba(18, 82, 174, 0.25);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 4rem auto;
}

.container .card {
    text-align: center;
}

.container .card .card-img {
    width: 100px;
    height: 100px;
    fill: linear-gradient( 141deg, rgba(18, 82, 174, 0.3) 0%, rgba(18, 82, 174, 0) 100%);
    box-shadow: 0px 6px 7px 0px rgba(18, 82, 174, 0.2) inset;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.container .card .card-img img {
    position: absolute;
    width: 67px;
    height: 67px;
}

.container .card a {
    text-decoration: none;
    color: #2a323c;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.container .card .listing {
    border-radius: 50px;
    background: #ebeef2;
    box-shadow: 0px 2px 1px 0px rgba(36, 45, 60, 0.2);
    padding: 5px;
    width: 104px;
    margin: 0.5rem auto;
}

.container .card .listing span {
    color: #2a323c;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.centered {
    display: flex;
    justify-content: center;
}

.property_deals {
    margin: 6rem 0;
    background-color: #f4f6f8;
    width: 100%;
    height: auto;
    padding: 4rem 8rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container #card {
    width: 312px;
    height: 396px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(36, 45, 60, 0.2);
}

.bgimg {
    position: relative;
}

.bgimg .text {
    position: absolute;
    top: 10px;
    left: 13px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(42, 50, 60, 0.2);
    width: 65px;
}

.bgimg .text span {
    color: #2a323c;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
}

.bgimg .loveEmg {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    background: rgba(42, 50, 60, 0.2);
    width: 28px;
    height: 28px;
    text-align: center;
    cursor: pointer;
}

.bgimg .loveEmg img {
    width: 16px;
    height: 16px;
    margin: 6px;
}

.card_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card_content h1 {
    color: #2a323c;
    font-size: 17px;
    font-weight: 600;
    padding: 10px;
}

.card_content .cont1,
.cont2,
.cont3 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin-bottom: 10px;
}

.card_content .cont1 div span {
    color: #737d8c;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_content .cont2 div span,
.cont3 div span {
    color: #737d8c;
    font-size: 13px;
    font-weight: 400;
}

.card_content .cont2 {
    margin-right: 50px;
}

hr {
    width: 80%;
    margin: 10px auto;
}

hr.line {
    background-color: #dde0e5;
    height: 0.4px;
    border: 0 none;
}

.card .card_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem;
}

.card .card_footer .foot_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1252ae;
    font-style: normal;
    line-height: normal;
}

.card .card_footer .foot_cont h1 {
    font-weight: 700;
    font-size: 19px;
}

.card .card_footer .foot_cont span {
    font-weight: 400;
    font-size: 12px;
    padding: 5px 0 0 2px;
}

.button {
    display: flex;
    border-radius: 4px;
    background: #ebeef2;
    width: 102px;
    height: 34px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button span {
    color: #2a323c;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}